In [1]:
import numpy as np
import pandas as pd

In [3]:
a = pd.read_csv('hustota.csv', sep=';')
df = pd.DataFrame(a)
print(df.head())
df.shape

                  Okres                                     Obec  2021  2020
0    Okres Bratislava I    Bratislava - mestská časť Staré Mesto  4823  4402  \
1   Okres Bratislava II  Bratislava - m. č. Podunajské Biskupice   553   522
2   Okres Bratislava II        Bratislava - mestská časť Ružinov  2040  1867
3   Okres Bratislava II        Bratislava - mestská časť Vrakuňa  2004  1953
4  Okres Bratislava III     Bratislava - mestská časť Nové Mesto  1189  1065

   2019  2018  2017  2016  2015  2014  ...  2005  2004  2003  2002  2001
0  4327  4260  4200  4141  4091  4057  ...  4438  4501  4553  4606  4666  \
1   522   520   516   512   508   504  ...   469   467   463   464   465
2  1853  1838  1823  1807  1790  1773  ...  1752  1753  1755  1755  1763
3  1961  1964  1960  1958  1941  1920  ...  1839  1818  1809  1802  1786
4  1048  1033  1020  1009   997   987  ...   992   989   994   995   997

   2000  1999  1998  1997  1996
0  4785  4823  4887  4952  4985
1   485   485   484   484   484
2  1826  1836  1850  1858  1860
3  1807  1803  1809  1803  1799
4  1042  1049  1060  1065  1067

[5 rows x 28 columns]

(2928, 28)

In [4]:
print(df.columns)

Index(['Okres', 'Obec', '2021', '2020', '2019', '2018', '2017', '2016', '2015',
       '2014', '2013', '2012', '2011', '2010', '2009', '2008', '2007', '2006',
       '2005', '2004', '2003', '2002', '2001', '2000', '1999', '1998', '1997',
       '1996'],
      dtype='object')

In [5]:
print(df['Obec'])

0         Bratislava - mestská časť Staré Mesto
1       Bratislava - m. č. Podunajské Biskupice
2             Bratislava - mestská časť Ružinov
3             Bratislava - mestská časť Vrakuňa
4          Bratislava - mestská časť Nové Mesto
                         ...
2923                                  Vojnatina
2924                              Vyšná Rybnica
2925                              Vyšné Nemecké
2926                               Vyšné Remety
2927                                      Záhor
Name: Obec, Length: 2928, dtype: object

In [ ]:
# TODO Prestavka do 19:50

In [6]:
df.loc[[1000], ['Obec']]

                Obec
1000  Kotrčiná Lúčka

In [8]:
df['Result'] = df['2021'] - df['1996']
print(df[0:6])

                  Okres                                     Obec  2021  2020
0    Okres Bratislava I    Bratislava - mestská časť Staré Mesto  4823  4402  \
1   Okres Bratislava II  Bratislava - m. č. Podunajské Biskupice   553   522
2   Okres Bratislava II        Bratislava - mestská časť Ružinov  2040  1867
3   Okres Bratislava II        Bratislava - mestská časť Vrakuňa  2004  1953
4  Okres Bratislava III     Bratislava - mestská časť Nové Mesto  1189  1065
5  Okres Bratislava III           Bratislava - mestská časť Rača  1093  1021

   2019  2018  2017  2016  2015  2014  ...  2004  2003  2002  2001  2000
0  4327  4260  4200  4141  4091  4057  ...  4501  4553  4606  4666  4785  \
1   522   520   516   512   508   504  ...   467   463   464   465   485
2  1853  1838  1823  1807  1790  1773  ...  1753  1755  1755  1763  1826
3  1961  1964  1960  1958  1941  1920  ...  1818  1809  1802  1786  1807
4  1048  1033  1020  1009   997   987  ...   989   994   995   997  1042
5   991   953   919   891   873   862  ...   854   857   857   852   881

   1999  1998  1997  1996  Result
0  4823  4887  4952  4985    -162
1   485   484   484   484      69
2  1836  1850  1858  1860     180
3  1803  1809  1803  1799     205
4  1049  1060  1065  1067     122
5   884   887   891   893     200

[6 rows x 29 columns]

In [9]:
df.iloc[1000]

Okres       Okres Žilina
Obec      Kotrčiná Lúčka
2021                 140
2020                 133
2019                 131
2018                 128
2017                 120
2016                 114
2015                 110
2014                 107
2013                 105
2012                 104
2011                 104
2010                 107
2009                 103
2008                 103
2007                 102
2006                 102
2005                  99
2004                  99
2003                  97
2002                  97
2001                  97
2000                  95
1999                  94
1998                  94
1997                  92
1996                  91
Result                49
Name: 1000, dtype: object

In [10]:
ubytok = df[df['Result'] < 0]
print(ubytok)
ubytok.shape

                    Okres                                   Obec  2021  2020
0      Okres Bratislava I  Bratislava - mestská časť Staré Mesto  4823  4402  \
8     Okres Bratislava IV     Bratislava - mestská časť Dúbravka  4176  3897
15     Okres Bratislava V    Bratislava - mestská časť Petržalka  3964  3636
17          Okres Malacky               Záhorie (vojenský obvod)     1     1
34          Okres Malacky                                Malacky   697   641
...                   ...                                    ...   ...   ...
2922       Okres Sobrance                         Veľké Revištia    49    51
2923       Okres Sobrance                              Vojnatina    32    32
2925       Okres Sobrance                          Vyšné Nemecké    51    52
2926       Okres Sobrance                           Vyšné Remety    74    77
2927       Okres Sobrance                                  Záhor    84    81

      2019  2018  2017  2016  2015  2014  ...  2004  2003  2002  2001  2000
0     4327  4260  4200  4141  4091  4057  ...  4501  4553  4606  4666  4785  \
8     3880  3860  3845  3832  3821  3810  ...  3999  4028  4045  4069  4411
15    3611  3594  3603  3616  3632  3649  ...  4018  4039  4066  4087  4356
17       1     1     1     1     1     1  ...     1     1     2     2     2
34     642   642   640   637   633   630  ...   669   665   762   766   788
...    ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...
2922    51    51    51    51    51    52  ...    53    53    52    52    55
2923    31    32    32    32    32    32  ...    31    31    31    32    34
2925    52    51    51    51    52    52  ...    66    66    65    66    59
2926    77    76    77    78    77    78  ...    77    77    77    79    76
2927    83    85    85    85    85    86  ...    92    93    94    96    97

      1999  1998  1997  1996  Result
0     4823  4887  4952  4985    -162
8     4431  4452  4501  4512    -336
15    4365  4380  4392  4409    -445
17       2     2     2     2      -1
34     786   788   780   777     -80
...    ...   ...   ...   ...     ...
2922    56    56    56    56      -7
2923    34    34    34    34      -2
2925    60    58    58    57      -6
2926    76    76    78    81      -7
2927    97    98    98    98     -14

[1201 rows x 29 columns]

(1201, 29)

In [11]:
df['Poradie'] = df['Result'].rank()

In [12]:
df.head(5)

,Okres,Obec,2021,2020,2019,2018,2017,2016,2015,2014,...,2003,2002,2001,2000,1999,1998,1997,1996,Result,Poradie
0,Okres Bratislava I,Bratislava - mestská časť Staré Mesto,4823,4402,4327,4260,4200,4141,4091,4057,...,4553,4606,4666,4785,4823,4887,4952,4985,-162,13.0
1,Okres Bratislava II,Bratislava - m. č. Podunajské Biskupice,553,522,522,520,516,512,508,504,...,463,464,465,485,485,484,484,484,69,2787.5
2,Okres Bratislava II,Bratislava - mestská časť Ružinov,2040,1867,1853,1838,1823,1807,1790,1773,...,1755,1755,1763,1826,1836,1850,1858,1860,180,2890.0
3,Okres Bratislava II,Bratislava - mestská časť Vrakuňa,2004,1953,1961,1964,1960,1958,1941,1920,...,1809,1802,1786,1807,1803,1809,1803,1799,205,2901.0
4,Okres Bratislava III,Bratislava - mestská časť Nové Mesto,1189,1065,1048,1033,1020,1009,997,987,...,994,995,997,1042,1049,1060,1065,1067,122,2853.5

In [13]:
sorted_df = df.sort_values(by='Poradie')
print(sorted_df[0:50])

                           Okres                                   Obec
2617             Okres Košice II     Košice - mestská časť Sídlisko KVP  \
2619            Okres Košice III     Košice - m. č. Dargovských hrdinov
2624             Okres Košice IV      Košice - mestská časť Nad jazerom
2614             Okres Košice II            Košice - mestská časť Západ
2608              Okres Košice I      Košice - mestská časť Staré Mesto
2625             Okres Košice IV              Košice - mestská časť Juh
15            Okres Bratislava V    Bratislava - mestská časť Petržalka
8            Okres Bratislava IV     Bratislava - mestská časť Dúbravka
506              Okres Prievidza                              Prievidza
1285           Okres Veľký Krtíš                            Veľký Krtíš
459            Okres Partizánske                            Partizánske
2524              Okres Trebišov                       Čierna nad Tisou
0             Okres Bratislava I  Bratislava - mestská časť Staré Mesto
393                  Okres Ilava                           Nová Dubnica
725                 Okres Levice                                 Tlmače
365   Okres Bánovce nad Bebravou                   Bánovce nad Bebravou
1900               Okres Svidník                                Svidník
1167                Okres Martin                                 Martin
1480      Okres Banská Štiavnica                       Banská Štiavnica
2301                Okres Prešov                                 Prešov
877                   Okres Šaľa                                   Šaľa
295                 Okres Trnava                                 Trnava
1813         Okres Stará Ľubovňa                               Jakubany
1435       Okres Banská Bystrica                        Banská Bystrica
2231                Okres Levoča                                 Levoča
2270                Okres Poprad                                 Poprad
2742            Okres Michalovce                             Michalovce
808             Okres Nové Zámky                             Nové Zámky
657                 Okres Levice                                 Levice
227               Okres Piešťany                               Piešťany
34                 Okres Malacky                                Malacky
1136     Okres Liptovský Mikuláš                       Liptovský Hrádok
385                  Okres Ilava                      Dubnica nad Váhom
2188              Okres Kežmarok                                 Ľubica
2183              Okres Kežmarok                               Kežmarok
1573               Okres Lučenec                                Lučenec
2180              Okres Kežmarok                                 Ihľany
1400       Okres Žiar nad Hronom                        Žiar nad Hronom
1689                Okres Revúca                                 Revúca
174                Okres Galanta                                  Sereď
1099    Okres Kysucké Nové Mesto                     Kysucké Nové Mesto
441   Okres Nové Mesto nad Váhom                   Nové Mesto nad Váhom
1050                 Okres Čadca                                  Čadca
197               Okres Hlohovec                               Hlohovec
153        Okres Dunajská Streda                               Čenkovce
985                 Okres Žilina                                 Žilina
1797       Okres Rimavská Sobota                      Rimavské Zalužany
2467      Okres Spišská Nová Ves                       Spišská Nová Ves
2006     Okres Vranov nad Topľou                      Vranov nad Topľou
579                Okres Trenčín                                Trenčín

       2021   2020   2019   2018   2017   2016   2015   2014  ...   2003
2617  12385  13078  13176  13281  13423  13549  13692  13845  ...  14174  \
2619   2267   2320   2339   2355   2369   2387   2406   2424  ...   3834
2624   6171   6664   6718   6767   6814   6871   6922   6953  ...   6804
2614   6776   7137   7176   7206   7228   7259   7289   7310  ...   7054
2608   4627   4797   4778   4773   4784   4741   4697   4698  ...   5015
2625   2177   2323   2338   2348   2359   2356   2358   2369  ...   2401
15     3964   3636   3611   3594   3603   3616   3632   3649  ...   4039
8      4176   3897   3880   3860   3845   3832   3821   3810  ...   4028
506    1038   1054   1065   1074   1083   1091   1100   1111  ...   1217
1285    728    776    788    800    806    811    821    833  ...    930
459     956    994   1003   1012   1024   1036   1046   1057  ...   1106
2524    379    385    385    386    389    391    392    398  ...    490
0      4823   4402   4327   4260   4200   4141   4091   4057  ...   4553
393     956    977    984    989    990    992    997   1004  ...   1081
725     782    754    760    765    774    784    795    803  ...    919
365     645    662    675    686    696    705    711    717  ...    790
1900    501    529    535    544    552    557    560    564  ...    623
1167    770    797    803    809    814    819    825    831  ...    884
1480    204    213    214    215    217    218    218    219  ...    232
2301   1198   1252   1257   1262   1269   1275   1279   1286  ...   1297
877     467    480    485    490    497    502    508    512  ...    545
295     888    907    910    913    915    917    918    920  ...    975
1813     43     43     43     43     43     42     42     41  ...    146
1435    732    754    757    758    760    761    763    766  ...    795
2231    124    128    128    129    129    129    129    129  ...    226
2270    787    810    813    815    818    822    827    832  ...    887
2742    691    731    737    740    743    746    748    750  ...    756
808     517    515    520    524    528    532    535    539  ...    575
657     520    535    540    544    548    552    555    559  ...    598
227     622    616    621    624    627    629    632    634  ...    684
34      697    641    642    642    640    637    633    630  ...    665
1136    389    403    405    409    412    414    416    416  ...    445
385     457    476    481    487    492    496    501    506  ...    525
2188     59     60     59     59     59     58     58     57  ...    313
2183    624    658    660    663    667    668    668    671  ...    519
1573    539    578    581    584    587    588    589    592  ...    590
2180     55     55     55     54     53     53     53     52  ...    134
1400    445    480    485    490    492    495    498    501  ...    507
1689    293    305    309    313    316    319    323    326  ...    343
174     513    505    509    514    518    521    524    527  ...    568
1099    552    564    568    572    575    578    582    586  ...    627
441     601    616    615    615    616    617    617    619  ...    646
1050    408    419    423    426    429    431    434    435  ...    467
197     318    330    333    337    340    343    345    348  ...    364
153      95     94     94     94     93     92     92     93  ...    147
985    1028   1007   1009   1011   1012   1013   1014   1015  ...   1066
1797     75     77     77     77     76     74     73     73  ...     71
2467    529    553    556    559    561    563    565    566  ...    583
2006    614    645    650    655    659    661    664    668  ...    669
579     666    676    675    676    678    679    680    681  ...    697

       2002   2001   2000   1999   1998   1997   1996  Result  Poradie
2617  14245  14384  14865  14904  14954  15020  15054   -2669      1.0
2619   3851   3889   4043   4048   4080   4096   4100   -1833      2.0
2624   6809   6881   7183   7254   7302   7354   7351   -1180      3.0
2614   7123   7190   7533   7572   7614   7655   7704    -928      4.0
2608   5055   5108   5213   5266   5333   5409   5459    -832      5.0
2625   2412   2425   2555   2577   2620   2643   2657    -480      6.0
15     4066   4087   4356   4365   4380   4392   4409    -445      7.0
8      4045   4069   4411   4431   4452   4501   4512    -336      8.0
506    1229   1233   1245   1252   1261   1263   1264    -226      9.0
1285    929    932    936    943    945    946    944    -216     10.0
459    1109   1114   1131   1135   1140   1145   1143    -187     11.0
2524    493    497    549    548    551    548    544    -165     12.0
0      4606   4666   4785   4823   4887   4952   4985    -162     13.0
393    1086   1097   1105   1104   1108   1112   1116    -160     14.0
725     923    928    939    938    938    931    925    -143     15.0
365     790    790    803    801    796    791    787    -142     16.0
1900    625    624    652    653    649    643    639    -138     17.0
1167    887    887    899    900    901    901    898    -128     18.0
1480    233    233    231    229    227    323    322    -118     19.0
2301   1302   1305   1322   1321   1317   1313   1308    -110     20.0
877     545    546    556    557    561    563    563     -96     21.0
295     980    982    976    977    978    981    982     -94     22.0
1813    145    144    140    138    138    136    135     -92     23.0
1435    800    804    814    816    820    823    823     -91     24.0
2231    225    224    221    220    218    216    214     -90     25.0
2270    890    891    879    879    880    879    876     -89     26.0
2742    756    757    784    784    782    781    779     -88     27.0
808     578    582    593    596    599    600    600     -83     28.0
657     600    599    607    606    608    607    602     -82     29.0
227     688    692    687    689    695    698    703     -81     30.0
34      762    766    788    786    788    780    777     -80     31.5
1136    446    449    465    465    467    468    469     -80     31.5
385     527    529    537    537    537    536    535     -78     33.0
2188    312    308    142    138    138    136    135     -76     34.0
2183    520    522    700    700    699    696    694     -70     35.0
1573    590    592    601    602    607    607    607     -68     36.0
2180    133    131    131    128    126    123    122     -67     38.0
1400    509    511    521    511    513    515    512     -67     38.0
1689    345    346    353    355    357    358    360     -67     38.0
174     570    571    581    581    583    579    577     -64     40.0
1099    628    627    620    617    615    613    614     -62     41.5
441     651    655    660    660    662    663    663     -62     41.5
1050    469    470    470    470    469    468    468     -60     43.0
197     368    370    376    376    377    377    377     -59     44.0
153     150    147    156    155    155    154    153     -58     46.0
985    1067   1068   1085   1086   1087   1087   1086     -58     46.0
1797     72     73     78    131    132    131    133     -58     46.0
2467    586    588    586    585    585    587    586     -57     48.0
2006    669    669    680    678    676    673    670     -56     49.0
579     703    705    721    721    723    722    720     -54     50.5

[50 rows x 30 columns]

In [18]:
vysledky_obec = df[df['Obec'] == 'Sihla']
print(vysledky_obec)

             Okres   Obec  2021  2020  2019  2018  2017  2016  2015  2014
1515  Okres Brezno  Sihla     7     7     7     7     7     7     7     7  \

      ...  2003  2002  2001  2000  1999  1998  1997  1996  Result  Poradie
1515  ...     8     8     8     7     7     7     7     7       0   1288.5

[1 rows x 30 columns]

In [24]:
vysledky_obec = df[df['Okres'] == 'Okres Krupina']
print(vysledky_obec.head(86))

              Okres                  Obec  2021  2020  2019  2018  2017  2016
1537  Okres Krupina                Bzovík    87    90    89    88    88    88  \
1538  Okres Krupina                Cerovo    19    19    19    19    20    20
1539  Okres Krupina     Čabradský Vrbovok    10    10    10    10    10    11
1540  Okres Krupina               Čekovce    30    31    30    30    30    30
1541  Okres Krupina               Devičie    22    21    22    22    22    22
1542  Okres Krupina       Dolné Mladonice    20    20    20    20    20    20
1543  Okres Krupina           Dolný Badín    40    40    40    40    41    41
1544  Okres Krupina              Domaníky    27    24    25    25    25    24
1545  Okres Krupina              Drážovce    15    16    17    17    17    17
1546  Okres Krupina              Drienovo     7     7     7     7     7     7
1547  Okres Krupina               Dudince   200   203   206   208   209   209
1548  Okres Krupina    Hontianske Moravce    46    50    51    51    51    51
1549  Okres Krupina      Hontianske Nemce    46    47    47    47    48    48
1550  Okres Krupina     Hontianske Tesáre    27    28    28    28    28    28
1551  Okres Krupina       Horné Mladonice    16    16    15    15    14    14
1552  Okres Krupina           Horný Badín    32    32    32    33    32    31
1553  Okres Krupina              Jalšovík    32    31    31    31    31    32
1554  Okres Krupina          Kozí Vrbovok    29    30    29    29    29    30
1555  Okres Krupina      Kráľovce-Krnišov     7     7     8     8     8     8
1556  Okres Krupina               Krupina    85    89    89    89    89    90
1557  Okres Krupina                Lackov    14    15    15    15    15    14
1558  Okres Krupina               Ladzany    10    10    10    10    11    11
1559  Okres Krupina                 Lišov    11    11    11    12    12    12
1560  Okres Krupina                Litava    34    35    34    35    34    35
1561  Okres Krupina             Medovarce    16    17    17    17    17    17
1562  Okres Krupina             Rykynčice    14    14    14    14    15    15
1563  Okres Krupina            Sebechleby    38    40    40    40    40    40
1564  Okres Krupina  Selce, okres Krupina    18    17    18    19    19    19
1565  Okres Krupina              Senohrad    47    49    50    51    51    52
1566  Okres Krupina               Sudince    21    20    20    21    21    21
1567  Okres Krupina               Súdovce    22    22    22    22    22    23
1568  Okres Krupina                Terany    54    56    56    56    57    58
1569  Okres Krupina                 Trpín    17    17    18    18    18    18
1570  Okres Krupina                Uňatín    14    14    14    14    13    14
1571  Okres Krupina     Zemiansky Vrbovok     9    10    10    10    11    11
1572  Okres Krupina              Žibritov     7     6     6     6     6     6

      2015  2014  ...  2003  2002  2001  2000  1999  1998  1997  1996  Result
1537    88    88  ...    78    77    76    73    72    72    73    72      15  \
1538    19    19  ...    20    19    20    20    20    21    21    21      -2
1539    11    11  ...    12    12    12    13    13    13    12    12      -2
1540    30    30  ...    29    30    31    32    32    32    33    33      -3
1541    21    21  ...    20    20    21    20    20    19    19    19       3
1542    20    19  ...    23    24    24    24    25    25    26    25      -5
1543    40    41  ...    41    42    42    43    43    44    44    43      -3
1544    25    25  ...    25    26    26    25    26    26    26    27       0
1545    18    18  ...    16    16    17    16    15    15    16    16      -1
1546     7     7  ...     8     8     8     8     8     8     8     8      -1
1547   210   212  ...   220   219   219   224   225   227   229   232     -32
1548    52    53  ...    51    50    48    52    52    52    47    48      -2
1549    49    49  ...    49    49    48    50    50    51    50    50      -4
1550    28    28  ...    26    26    26    25    25    25    25    25       2
1551    15    15  ...    15    15    15    15    16    16    16    16       0
1552    32    32  ...    34    34    35    32    33    34    34    34      -2
1553    32    32  ...    32    33    35    34    34    33    35    37      -5
1554    31    31  ...    32    31    31    31    32    32    33    33      -4
1555     8     9  ...     9     9    10     8     8     8     8     8      -1
1556    90    90  ...    89    89    90    91    91    91    91    91      -6
1557    15    15  ...    18    18    18    19    19    19    19    19      -5
1558    11    11  ...    12    12    12    12    12    12    12    11      -1
1559    12    12  ...    14    14    14    13    12    13    13    12      -1
1560    35    35  ...    36    37    37    36    37    37    37    37      -3
1561    18    18  ...    19    20    19    19    19    19    19    19      -3
1562    15    15  ...    19    19    19    20    20    21    21    21      -7
1563    39    40  ...    40    40    39    38    38    38    38    38       0
1564    20    20  ...    23    23    23    23    24    25    25    25      -7
1565    52    51  ...    50    50    50    48    48    49    49    49      -2
1566    21    20  ...    16    17    17    17    16    16    17    17       4
1567    23    22  ...    21    21    21    20    21    22    21    22       0
1568    59    59  ...    67    66    69    68    67    67    67    66     -12
1569    18    19  ...    21    21    21    19    20    20    21    21      -4
1570    14    14  ...    15    15    15    16    15    16    16    16      -2
1571    11    11  ...    13    13    14    16    17    17    18    18      -9
1572     7     6  ...     8     9     9     8     8     8     8     9      -2

      Poradie
1537   2325.0
1538    971.0
1539    971.0
1540    815.0
1541   1636.5
1542    549.5
1543    815.0
1544   1288.5
1545   1124.0
1546   1124.0
1547     77.0
1548    971.0
1549    672.0
1550   1534.0
1551   1288.5
1552    971.0
1553    549.5
1554    672.0
1555   1124.0
1556    447.5
1557    549.5
1558   1124.0
1559   1124.0
1560    815.0
1561    815.0
1562    367.0
1563   1288.5
1564    367.0
1565    971.0
1566   1729.0
1567   1288.5
1568    186.5
1569    672.0
1570    971.0
1571    270.5
1572    971.0

[36 rows x 30 columns]